* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.parent {
    width: 80%;
    background-color: rgb(145, 116, 80);
    padding: 50px;
    margin: 0 auto;
    /* padding: ; */

}

.child {
    background-color: rgb(175, 189, 101);
    width: 50%;
    padding: 2em;
}


/* * {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    background: rgb(99, 85, 60);
    color: white;
    width: 80%;
    margin: 0 auto;

    padding: 5em; /* 16 * 5 = 80px */
    /* height: 300px; */
/* } */ 